{% extends 'base.html.twig' %}

{% block title %}Reserve index{% endblock %}

{% block body %}
    <h1>Reserve index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_reservation</th>
                <th>Heure_depart</th>
                <th>Heure_fin</th>
                <th>Etat_reservation</th>
                <th>Salles</th>
                <th>Enseignants</th>
                <th>Promotions</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reserve in reserves %}
            <tr>
                <td>{{ reserve.id }}</td>
                <td>{{ reserve.dateReservation ? reserve.dateReservation|date('Y-m-d') : '' }}</td>
                <td>{{ reserve.heureDepart ? reserve.heureDepart|date('H:i:s') : '' }}</td>
                <td>{{ reserve.heureFin ? reserve.heureFin|date('H:i:s') : '' }}</td>
                <td>{{ reserve.etatReservation }}</td>

                <td>
                    {% for salle in reserve.salles %}
                        {{ salle.getNomDeSalle() }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>

                <td>
                    {% for enseignant in reserve.enseignants %}
                        {{ enseignant.emailEnseignant }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for promotion in reserve.promotion %}
                        {{ promotion.getNiveauPromotion() }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>

                <td>
                    <a href="{{ path('app_reserve_show', {'id': reserve.id}) }}">show</a>
                    <a href="{{ path('app_reserve_edit', {'id': reserve.id}) }}">edit</a>
                    <form method="post" action="{{ path('app_reserve_delete', {'id': reserve.id}) }}" style="display:inline;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reserve.id) }}">
                        <button type="submit">delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reserve_new') }}">Create new</a>
{% endblock %}
